{% extends "./layouts/_base.html" %}

{% block content %}
<p>
  If you are seeing this, then you're not logged in. This example site also uses Netlify Identity to lock down access to the page that let's you create new short URLs.
</p>
<p>
    Since it's an example site, you can log in with the details below to gain access.
</p>
<ul>
  <li>Username: <b>linky</b></li>
  <li>Password: <b>linky</b></li>
</ul>
<p>
    <div data-netlify-identity-button>Login with Netlify Identity</div>
</p>
<p class="message">
  You can learn more about using Netlify Identity in your own projects by talkng a look at the <a href="https://www.netlify.com/docs/identity/" target="_BLANK" rel="noopener">Netlify Identity documentation</a>
</p>
{% endblock %}


{% block footer %}
<div class="container">
  <p>
    This is a <a href="https://www.jamstack.org">JAMstack</a> site, generated and hosted on <a href="https://www.netlify.com">Netlify</a><br/>
    Get your own, or just peek at <a href="https://github.com/philhawksworth/linkylinky">the code</a>.
  </p>
</div>
{% endblock %}
