# The ID of the form in your Netlify site which contains all of your active routes
ROUTES_FORM_ID="XXX"

# Your personal Netlify API authentication token (create one at https://app.netlify.com/account/applications)
API_AUTH="XXX"
