{% extends "./layouts/_base.html" %}

{% block content %}

<form name="make-url" >
  <p>
    <label for="destination">URL to shorten<small>well get a you something shorter</small></label>
    <input type="url" name="destination" id="destination">
  </p>
  <p>
    <button type="submit" class="btn" id="btn-create">Get a short link</button>
  </p>
</form>

<p>
  we might want to submit this with js so we can massage the confirmation url and pass info through to the confirmation script
</p>

{% endblock %}


